/* google fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    background-color: #E5EDF1;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles */
body {
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #3a3a3a;
}

/*hr {
    border-top: whitesmoke;
}*/

#menu {
    list-style-type: none;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    /*box-shadow: 0 2px 2px #3a3a3a;*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}




/* Main Content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Add margin at top to prevent content from being covered by header */
    margin-top: 65px;
    /* Enable flex properties for chils emenents */
    display: flex;
    flex-direction: column;
}

#hero {
    height: 600px;
    width: 100%;
}



/* Footer */
#social-networks {
    text-align: center;
    padding: 60px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}






/* Media Query: large or landscape photos (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left : 1rem;
    }

    #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
    }

    #logo-2 {
        font-size: medium;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /*Push main content down to accomodate larger header */
        margin-top: 79px; 
    } 
}

